.ps {
    font-size: 12px;
}

.container {
    margin-bottom: 10px;
}

.forprint {
    display: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    background-color: black;
}

.forprint1 {
    display: none;
    margin-left: -30px;
    font-size: 14px;
    font-weight: 500;
    background-color: black;
}

@media print {

    .prints {
        display: none;
    }

    .forprint {
        display: block;
    }

    .forprint1 {
        display: block;
    }

    .modaltitle {
        display: none;
    }
}